<link rel="stylesheet" href="../../pages/login/login.css">

<div class="container login">
    <form>
        <center>
            <span class="glyphicon glyphicon-user"></span>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" required ng-model="login.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mật khẩu" required ng-model="login.password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="login.remember">
                <label class="form-check-label" for="exampleCheck1">Nhớ mật khẩu?</label>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login.login()">OK</button>
        </center>
    </form>
</div>