.login {
    width: 25%;
    position: relative;
}
.loginlogo {
    height: 40px;
}
form {
    background: white;
    border-radius: 10px;
    padding: 20px;
    top: 100px;
    position: absolute;
    width: 100%;
}
.glyphicon-user {
    font-size: 50px;
    color:#286090;
}
.title {
    background: white;
    color: #286090;
    font-family: 'Courier New', Courier, monospace;
}