<link rel="stylesheet" href="../../pages/login/login.css">

<div class="container login">
    <form>
        <center>
            <img src="../../vendor/logo/logo2.png" class="loginlogo" />
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" required ng-model="login.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mật khẩu" required ng-model="login.password">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login.login()">OK</button>
        </center>
    </form>
</div>