<link rel="stylesheet" href="../../pages/home/home.css">
<div class="container-fluid">
    <div class="row header">
        <img src="../../vendor/logo/logo1.png" class="homelogo" />
        <button type="submit" class="btn btn-primary loginbtn" ng-click="home.login()">Đăng nhập</button>
    </div>
    <div class="row home">
        <div class="col-sm-4">
            <form>
                <center>
                    <h3>Đăng ký</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tên đăng nhập" ng-model="home.username"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật khẩu" ng-model="home.password"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="home.register()">OK</button>
                </center>
            </form>
        </div>
        <div class="col-sm-8">
            <center class="info">
                <h3>Tạo hộp tin nhắn miễn phí</h3>
                <p>Mei Chat giúp bạn tạo hộp chat tích hợp vào website dễ dàng.</p>
                <p>Mei Chat là ứng dụng chat với tốc độ tin nhắn nhanh ổn định với số lượng người dùng lớn.</p>
                <h3>Các bước tạo hộp tin nhắn</h3>
            </center>
            <div class="steps">
                <p>Bước 1: Đăng ký tài khoản quản trị viên</p>
                <!-- <p>Bước 2: Tích hợp đoạn mã sau đây vào phần header của trang web</p>
                <div class="code">
                    <div ng-repeat="depend in home.dependences track by $index">
                        {{depend}}
                    </div>
                </div> -->
                <p>Bước 2: Tích hợp đoạn mã nguồn sau vào phần body của trang web</p>
                <p>(đoạn mã nguồn sẽ được cung cấp sau khi đăng ký tài khoản thành công)</p>
                <div class="code" ng-if="home.code">
                    <div>{{home.code}}</div>
                    <div>{{home.angularModule}}</div>
                </div>
            </div>
        </div>
    </div>
</div>