.home {
    padding: 1% 10%;
}
.homelogo {
    height: 90%;
}
.header {
    background: white;
    padding: 1% 20%;
}
.namesite {
    display: inline-block;
    margin: 0px;
    background: #337ab7;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.loginbtn {
    float: right;
}
form {
    background: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50px;
}

.info {
    color: white;
}

.steps {
    text-align: left;
    color: white;
}
.code {
    width: 100%;
    color: black;
    font-family: consolas;
    background: #eee;
    padding: 15px;
}